<!DOCTYPE html>
<html>
<head>
	<title>Normalisasi File</title>
</head>
<body>
	<h1>Form Normalisasi File</h1>
	<form method="POST" action="http://127.0.0.1:5000/Normalisasi-File" enctype = "multipart/form-data">
		<label for="teks">Masukkan File CSV:</label><br>
		<input type = "file" name = "kamus_alay" required><br><br>
		<label for="teks">Masukkan File Kamus:</label><br>
		<input type = "file" name = "kamusalay" required><br><br>
		<input type="submit" value="NORMALISASI FILE">
	</form>
	
</body>
</html>